node_modules
dist
coverage
.prisma
.codex-pdf-tools

.env
.env.*
!.env.example
!.env.development.example
!.env.production.example

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
PasoAPaso.md
