DATABASE_URL="postgresql://usuario:password@host-pooler/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://usuario:password@host-direct/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="cambia-esto-por-una-clave-secreta-segura"
FRONTEND_URL=http://localhost:5173
PORT=3000
