DATABASE_URL="postgresql://usuario:password@host-pooler/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://usuario:password@host-direct/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="secreto"
PORT=3000
